<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.killerban.okclock"
    android:versionCode="1"
    android:versionName="0.9.9" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >

        <!-- okClock package -->
        <activity
            android:name="com.killerban.okclock.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.killerban.okclock.AlarmRingActivity" >
        </activity>

        <!-- editClock package -->
        <activity android:name="com.killerban.editclock.SelectMusicActivity" >
        </activity>
        <activity android:name="com.killerban.editclock.EditClockActivity" >
        </activity>
        <activity
            android:name="com.killerban.editclock.WeekRepeatActivity"
            android:label="@string/title_activity_unlock"
            android:theme="@style/DailogTheme" >
        </activity>

        <!-- settings -->
        <activity android:name="com.killerban.settings.SettingsActivity" >
        </activity>
        <activity android:name="com.killerban.settings.DataShowActivity" >
        </activity>
         <activity android:name="com.killerban.settings.InstallActivity" >
        </activity>
        <activity
            android:name="com.killerban.settings.WebTranslateActivity"
            android:theme="@style/DailogTheme" >
        </activity>

        <service android:name="com.killerban.settings.UpgradeService" >
        </service>
        <service android:name="com.killerban.web.SentDataService" >
        </service>
    </application>

</manifest>